<ul class="singleUserOnePost">
<%= link_to "Back to posts", user_path(id: @post.user_id), class: "addCom" %>
  <div class="singlePost">
    <h4><%= @post.title %></h4>
    <p><%= @post.text %></p>
    <% if can? :destroy, @post %>
    <%= button_to 'Delete post', user_post_path(@post.user, @post.id), method: :delete, data: { confirm: 'Are you sure?'}, class: 'btn btn-outline-dark' %>
  <% end %>
  </div>

  <div class="right">
    <span>Comments: <%= @post.comments_counter %></span>
    <span>Likes: <%= @post.likes_counter %> </span>
  </div>
  <div class="singleComment">
    <h4>Comments:</h4>
    <ul>
      <% @post.comments.includes(:user).each do |comment| %>
        <p><%= comment.user.name %>: <%= comment.text %></p>
           <% if can? :destroy, comment %>
            <%= button_to 'Delete comment', user_post_comment_path(@post.user, @post.id), method: :delete, data: { confirm: 'Are you sure?'}, class: 'btn btn-outline-dark' %>
        <% end %>
      <% end %>
    </ul>
  </div>

  <div class="addNewdiv">
    <%= link_to "comment", new_user_post_comment_path(user_id: @post.user_id, post_id: @post.id ), class: "addCom" %>
    <%= form_with model: @like, url: user_post_likes_path(post_id: @post.id) do |form| %>
      <%= form.submit "Like post", class: "addCom" %>
    <% end %>
  </div>
</ul>
